* {box-sizing: border-box;}

body {font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
background-image: url(../imagens/double-bubble-dark.png);

}

p, h1, h2, h3, li, a, figcaption{
    color: white;
}

h1, h2, h3, a, figcaption, a{
    text-align: center;
    background-color: cadetblue;
    border-color: yellow;
}

.h1 {
    width: 100%;
    padding: 1%;
}

#container{
    background-color: blueviolet;
    width: 70%;
    margin: auto;
    border-radius: 8px;
}

figure {
    text-align: center;
}

figure img{
    transform: scale(0.8);
    transition: 1.5s;

}

/*houver: ação ao passar o mause*/
figure img:hover{
    transform: scale(1);
    filter: grayscale(0);
}

a